<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newrelic.agent.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk tools:ignore="GradleOverrides,OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- 'android:authorities' must be unique in the device, across all apps -->
        <provider
            android:name=".rum.contentprovider.NewRelicAppContentProvider"
            android:authorities="com.newrelic.android.agent.nrprovider.${applicationId}"
            android:initOrder="200"
            android:exported="false"/>
    </application>

</manifest>
