  <tr>
    <td><a href="{library_url}" target="_blank" title="Link opens in a new window">{library_name}</a></td>
    <td><a href="{license_url}" target="_blank" title="Link opens in a new window">{license_name}</a></td>
  </tr>