name: Android Integration Workflows

on:
  release:
    types: [created]
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]
  workflow_dispatch:
    inputs:
      agent:
        description: 'NewRelic Android agent version to test'
        default: '6.+'
        required: false

jobs:
  integration-plugin:
    if: ${{ false }}  # disable for until tests are resolved
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Stage with Gradle
        run: ./gradlew install publish
      - name: Build with Gradle
        run: ./gradlew :plugins:gradle:integrationTests --tests "com.newrelic.agent.android.PluginIntegrationSpec" -PintegrationTests
      - name: Upload build reports
        uses: actions/upload-artifact@v3
        with:
          name: build-reports
          path: plugins/gradle/build/reports/

  regression-jdk17-plugin:
    if: ${{ false }}  # FIXME JDK 17 blows out the heap
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Stage with Gradle
        run: ./gradlew install publish
      - name: Build with Gradle
        run: ./gradlew :plugins:gradle:functionalTests
      - name: Upload build reports
        uses: actions/upload-artifact@v3
        with:
          name: build-reports
          path: plugins/gradle/build/reports/

  regression-jdk11-plugin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Stage with Gradle
        run: ./gradlew install publish
      - name: Build with Gradle
        run: ./gradlew :plugins:gradle:functionalTests
      - name: Upload build reports
        uses: actions/upload-artifact@v3
        with:
          name: build-reports
          path: plugins/gradle/build/reports/
